In [ ]:
import os
table_distance = os.path.join('v3io.users."'+os.getenv('V3IO_USERNAME')+'/flights/distance_traveled"')
CONTAINER = 'users'
%sql call v3io.schema.infer('users', '/iguazio/flights/distance_traveled')
%sql select * from $table_distance limit 10

In [40]:
table_fact = os.path.join('v3io.users."'+os.getenv('V3IO_USERNAME')+'/flights/flighttracker"')
CONTAINER = 'users'
%sql call v3io.schema.infer('users', '/iguazio/flights/flighttracker' )
%sql select * from $table_fact limit 10

 * presto://iguazio:***@presto-api-presto.default-tenant.app.marcelo.iguazio-cd2.com:443/v3io?protocol=https
Done.
 * presto://iguazio:***@presto-api-presto.default-tenant.app.marcelo.iguazio-cd2.com:443/v3io?protocol=https
Done.

[('11.7472', '132.12', '11.5928', '4400ec', 'EJU46BX ', '43.3561', '43.2544', 'Austria'),
 ('2.223', '245.66', '2.223', '4ca79c', 'RYR452  ', '41.3465', '41.3465', 'Ireland'),
 ('14.4666', '144.22', '14.6832', '4a0c4b', 'ISS673  ', '40.4396', '40.6676', 'Romania'),
 ('-120.3665', '72.83', '-120.0187', 'a6e12d', 'DAL602  ', '39.428', '39.3444', 'United States'),
 ('11.0882', '123.76', '11.2377', '4baacf', 'THY88H  ', '48.7969', '48.8627', 'Turkey'),
 ('-81.0202', '188.02', '-80.9755', 'a6a425', 'NKS577  ', '32.7867', '32.4439', 'United States'),
 ('-3.1361', '201.07', '-3.2643', '44ccd5', 'BEL245  ', '38.9091', '39.326', 'Belgium'),
 ('28.0934', '50.0', '28.0934', '48c236', 'RYS174  ', '36.4051', '36.4051', 'Poland'),
 ('12.2521', '162.62', '12.2521', '34150e', 'IBE32VZ ', '41.8683', '41.8683', 'Spain'),
 ('46.0185', '209.02', '45.8394', '424271', 'NWS145  ', '51.2907', '51.5236', 'United Kingdom')]